<a href="https://colab.research.google.com/github/Moznpy/Python-Course/blob/main/Interaction_between_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Interactions between functions is a key concept in programming, and is essential for writing modular and efficient code. 
# There are several ways in which functions can interact in Python. Here are a few examples:

In [42]:
def add(x,y,z):
  return x + y + z

add(2,5,7)

14

In [46]:
# Functions can return multiple values using tuple packing:
# In this example, the min_max function returns a tuple containing the minimum and maximum values from a list of numbers. 
# The tuple is then unpacked into separate variables minimum and maximum.


def min_max(numbers):
  return min(numbers), max(numbers)

min_max([1,3,7,8,4])




minimum, maximum = min_max([1, 2, 3, 4, 5])
print(f"Minimum: {minimum}, Maximum: {maximum}")

Minimum: 1, Maximum: 5

In [47]:
# Functions can call other functions:
# In this example, the greet_everyone function calls the greet function for each name in a list of names.

def greet(name):
  print(f"Hello, {name}!")

def greet_everyone(names):
  for name in names:
    greet(name)

greet_everyone(["Alice", "Bob", "Eve"])

Hello, Alice!
Hello, Bob!
Hello, Eve!

In [55]:
# Functions can return values:
# In this example, the add function returns the sum of its arguments, which is then passed as an argument to the multiply function. 
# The multiply function returns the product, which is then printed to the console.

def add(x, y):
  return x + y


def multiply(a, b):
  return a * b

multiply(2,add(2,6))

# multiply(add(2, 3), 4)

16

In [65]:
# Functions can be passed as arguments to other functions:
# In this example, the apply_operation function takes two arguments, x and y, and a function operation.
# It then calls the operation function with x and y as arguments and returns the result.

def apply_operation(a, b, operation):
  return operation(a, b)

def add(x, y):
  return x + y

def multiply(x, y):
  return x * y


# Examples: 

# apply_operation(2, 3, multiply)  


apply_operation(2, 3, add)

5