<a href="https://colab.research.google.com/github/Moznpy/Python-Course/blob/main/Useful_operators_in_Python_range%2C_in.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# In Python, the range function returns a sequence of numbers,
# starting from 0 by default, and increments by 1 (also by default), and ends at a specified number.

# Here are a few examples to illustrate the different cases:

In [22]:
# start and stop arguments only
for i in range(6):
    print(i)

0
1
2
3
4
5

In [28]:
# start and stop arguments, increment by default (1)
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [33]:
# start, stop, and step arguments
for i in range(3, 12, 2):
    print(i)

3
5
7
9
11

In [34]:
# negative step argument
for i in range(5, 0, -1):
    print(i)

5
4
3
2
1

In [ ]:
# In Python, the (in) keyword is used to check if an element is present in a sequence (such as a list, tuple, or string).
# It returns True if the element is present in the sequence, and False if it is not.

# Here are a few examples to illustrate the use of the in keyword:

In [38]:
fruits = ['apple', 'banana', 'orange']
'apple' in fruits

True

In [43]:
# If you want to check if a value is present in a dictionary, you can use the values() method and the in operator:

fruit = {'apple': 'red', 'banana': 'yellow', 'orange': 'orange'}
'banana' in fruit.keys()

True

In [47]:
# You can also use the in operator to test whether a value is present in a dictionary. 
# In this case, it will return True if the value is found as a key in the dictionary, and False otherwise.

prices = {'apple': 0.5, 'banana': 0.25, 'orange': 0.75}
'2' in prices.values()

False

In [50]:
# Also, you can use the in operator to test whether a value is present in a string. 
# In this case, it will return True if the value is found as a sub-string of the string, and False otherwise.

name = 'Alice'
'a' in name

False